# Dependencias y paquetes compilados
node_modules/
dist/
dist-ssr/
build/
.output/

# Bitácoras y archivos de depuración
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Variables de entorno y credenciales locales
.env
.env.local
.env.*.local

# Archivos de caché del sistema y pruebas
.vitest/
.cache/
coverage/

# Archivos de configuración de editores y sistemas operativos
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tmp
*.bak

# Bitácoras locales del estudiante protegidas por regla global
Compendio_soluciones.md
