
body {
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f4; 
    color: #5D4037;
    margin: 0;
    padding: 0;
}


.top-banner {
    background-color: #FFC0CB; 
    color: #5D4037;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
}


.main-header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 1px solid #eaeaea;
}

.logo {
    font-family: 'Pacifico', cursive; 
    font-size: 32px;
    margin: 0;
    color: #8B4513; 
}

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.top-nav {
    font-size: 12px;
    color: #888;
    margin-bottom: 15px;
}

.top-nav a {
    color: #888;
    text-decoration: none;
    margin: 0 5px;
}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.main-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}


.login-layout {
    display: flex;
    justify-content: center;
    padding: 60px 20px;
}

.form-box {
    background-color: #ffffff;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
    text-align: center;
}

.form-box h2 {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    color: #888;
    margin-bottom: 30px;
}

.form-box h2 span {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 11px;
    color: #666;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


.btn-dark {
    background-color: #333;
    color: #fff;
    border: none;
    width: 100%;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    margin-top: 10px;
    transition: background 0.3s;
}

.btn-dark:hover { background-color: #555; }

.btn-light {
    background-color: #88a3a8; 
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
}

/* Sección inferior de la caja */
.new-user {
    margin-top: 40px;
    border-top: 1px solid #eee;
    padding-top: 30px;
}

.new-user p {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.new-user .subtitle {
    font-size: 12px;
    color: #888;
    margin-bottom: 20px;
}

.beneficios-activos {
    background-color: #FFF5E1;
    padding: 15px;
    text-align: left;
    font-size: 13px;
    margin: 20px 0;
    border: 1px solid #f4e4c1;
}

.mensaje-exito {
    color: #2e7d32;
    font-size: 14px;
    margin-top: 15px;
}